body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }

  .navbar {
    min-height: 12px;
  }

  .carousel-item {
    height: 250px;
  }
  
  .carousel-item img {
      height: 250px;
  }

  .dropdown:hover>.dropdown-menu{
    display: inline-block;
  }

  .dropdown>.dropdown-toggle:active{
    pointer-events: none
  }
  
  .navbar-brand {
    position: relative;
    width: 100px;
    left: 15px;
    max-height: 100px;
    min-height: 60px;
    height: 50px;
    line-height: 50px;
    padding-top: 0px;
    margin-bottom: 20px;

  }

  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  .bg-steel {
    background-color: #c7d5df;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #e1e7eb;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

  .account-heading {
    font-size: 2.5rem;
  }

  .footer {
    position: fixed;
    background-color: #444444;
    width: 100%;
    height: 5px;
    border: black;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .logo-underline{
    color: #25aae1;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
  }
   
  .fa:hover {
      opacity: 0.7;
  }y
  
  .fa-facebook {
    color: white;
  }
  
  .fa-linkedin {
    color:white;
  }
  
  .recent_post{
    color: #000000;
    font-family: Verdana;
    font-size: 16px;
  }

 