{%extends 'blog/base.html'%}

{%block content%}
<h5>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">About</li>
    </ol>
  </h5>
 <div class="container col-md-12">
        <h2>COMPANY PROFILE</h2> <br>
    <p>
        Maharashtra located, Azhar Trade Impex has emerged as one of the most credible names in the Chemical Industry. We are the leading Manufacturer & Exporter of Industrial Chemicals. Our organization has flourished remarkably under the able guidance of Mr. Azharuddin Kazi, C.E.O. of the company. 
        Established in 2008, our organization has gained trust of eminent organizations from all over the world.
        Industries We Serve
        <li>Glass</li>  
        <li>Paints & Coatings</li> 
        <li>Pigments</li> 
        <li>Automotive Solar Cell</li>
        <li>Automotive</li> 
        <li>Plastics</li> 
        <li>Packaging</li> 
        <li>Pharma</li> 
        <li>Electrical & Electronics</li>
        <li>Leather</li> 
    </p><br>

        <h4>Network</h4>
     <p>
        We have a wide network spread all across the world. We are capable of promptly catering to our client’s needs settled in any part of the world. Prestigious Wholesalers, Suppliers, and Dealers frequently deal with us to procure our high quality products. Strength Our clients spread across the globe appreciate us for providing unparalleled quality of Industrial Chemicals. The fact that we provide all types of Industrial Chemicals under single roof adds to our popularity among clients. 
        Our ability to make optimum utilization of natural elements provided by the nature ensures our credibility. </p> <br>
        
        <h4>Customer is the king</h4>
        <p>Our customers are facilitated with the easy and safe availability of the chemicals in the stipulated time frame. Moreover, we entertain feedbacks of our clients with utmost interest and it helps us in bringing innovations in our managerial activities.
       
    </p>  
 </div>

{%endblock%}