{%extends 'blog/base.html'%}
{%load static%}

{%block content%}
<h5>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Product</a></li>
      <li class="breadcrumb-item active">Blue Silica Gel</li>
    </ol>
  </h5>
    <div class=' container row col-md-12'>
        <div class='col-md-9'>
            <h2>Silica Gel Blue (Indicating Type Silica Gel)</h2> 
            <hr style="border-top: 3px solid #262262;" align="left" width="62%"> <br>
            <p>
                Silica Gel Blue semi-transparent glassy substance containing an indicator as “Cobalt Chloride”, a heavy metal salt. 
                When free from moisture, the Granules or beads are dark blue in color. As the beads takes up moisture, they turn to light blue gradually & when they turn pink, the gel has absorbed approximately 8% percent of its weight in water, the colored crystals will turn from blue to pink making an easy visual indicator of whether the gel has become saturated with moisture. 
                It indicates that the gel needs to be replaced or regenerated. The indicating silica gel will still absorb up to 40% of its weight in water vapor just like the non-indicating In fact, it is mainly used as indicator for the extent of dehumidification and moisture absorption in sealed vessel and Silica Gel Breather Industry. 
                Blue Silica Gel is also know as Indicating
                Silica Gel, Self Indicating Silica Gel, Blue Desiccants, Moisture absorber.
            </p>
        </div>
        <div class='col-md-3'>
            <img src="{%static 'blog/blue/image.png'%}" class="img-thumbnail round-float" style="height: 200px; width: 200px;">
        </div>
    </div>

    <div class='container'>
        <h3>Technical Specification</h3>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Silica Gel Blue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ASSAY(as sio2)</td>
                    <td>97-99%</td>
                </tr>
                <tr>
                    <td>PH</td>
                    <td>6-7</td>
                </tr>
                <tr>
                    <td>Bulk Density</td>
                    <td>0.600-0.700 gm/cc</td>
                </tr>
                <tr>
                    <td>Loss on Drying %</td>
                    <td> <6 </td>
                </tr>
                <tr>
                    <td>Adsorption Capacityat 100% Humidity</td>
                    <td> 30-40% </td>
                </tr>
                <tr>
                    <td>Friability</td>
                    <td> 99.5 </td>
                </tr>
                <tr>
                    <td>Chloride(as Nacl)</td>
                    <td> 0.05ppm </td>
                </tr>
                <tr>
                    <td>Sulphates(as Na2SO4)</td>
                    <td> 0.5ppm </td>
                </tr>
                <tr>
                    <td>Amonium(NH3)</td>
                    <td> NIL </td>
                </tr>
                <tr>
                    <td>Cobalt Chloride(CoCl2)</td>
                    <td> 0.5% </td>
                </tr>
                <tr>
                    <td>particle Size(Mesh)</td>
                    <td> 1-2,3-4,3-8,5-8,9-16,16-30 </td>
                </tr>
                <tr>
                    <td>Chemical Formula</td>
                    <td> Sio2+H2O+CoCl2 </td>
                </tr>
            </tbody>
        </table><br><br>

        <h3>Blue Silica Gel Size</h3>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">SIZE IN MESH</th>
                    <th scope="col">SIZE IN MM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1-2</td>
                    <td>9-12</td>
                </tr>
                <tr>
                    <td>3-4</td>
                    <td>6-8</td>
                </tr>
                <tr>
                    <td>3-8</td>
                    <td>4-8</td>
                </tr>
                <tr>
                    <td>5-8</td>
                    <td>4-6</td>
                </tr>
                <tr>
                    <td>9-16</td>
                    <td>2-4</td>
                </tr>
                <tr>
                    <td>16-30</td>
                    <td>1-2</td>
                </tr>
                <tr>
                    <td>30-40</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>Powder</td>
                    <td>Less Than Zero</td>
                </tr>
            </tbody>
        </table><br> <br>

    </div>
        
{%endblock%}