{%extends 'blog/base.html'%}
{%load static%}

{%block content%}
<h5>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Product</a></li>
      <li class="breadcrumb-item active">Orange Silica Gel</li>
    </ol>
  </h5>
<div class='container row col-md-12'>
    <div class='col-md-9'>
        <h2>Orange Silica Gel</h2> 
        <hr style="border-top: 3px solid #262262;" align="left" width="25%"> <br>
        <p>
        ORANGE SILICA GEL is a heavy metal free, environmental-friendly humidity indicator SILICA GEL for protection of goods and miscellaneous substances widely used in transformer breathers & air dryer in power sector.

        ORANGE SILICA GEL is an alumino-silicate gel in the form of hard round shape or spherical beads form, with a very high resistance to crushing and a low attrition rate. 
        Orange Silica Gel has a longer life than most other adsorbents and can reduce operating costs in most applications. 
        It is also known as Nontoxic Indicating Silica gel.

        Orange Silica Gel has very high mechanical integrity. 
        The degree of moisture uptake is indicated by the color change from orange to green & orange to colorless at 6 – 8% weight water absorption. 
        </p> <br> <br>
    </div>
    <div class='col-md-3'>
        <img src="{%static 'blog/orange/image.jpg'%}" class="img-thumbnail round-float" style="height: 200px; width: 200px;">
    </div>
    
</div>   
<div class='container'>
    <h3>Specification Item</h3> <br>
        <table class="table table-sm table-hover">
            <tbody>
                <tr>
                    <td>Adsorption</td>
                    <td>Min 9%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Min 22%</td>
                </tr>
                <tr>
                    <td>Moisture</td>
                    <td>Max 22%</td>
                </tr>
                <tr>
                    <td>Attrition</td>
                    <td>Max 10%</td>
                </tr>
                <tr>
                    <td>Qualified ratio of particle</td>
                    <td>Min 90%</td>
                </tr>
                <tr>
                    <td>Bulk Density</td>
                    <td> Min 700g/L </td>
                </tr>
                <tr>
                    <td>Color Variation</td>
                    <td>Light brown yellow</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Light brown green</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Light blackish green</td>
                </tr>
            </tbody>
        </table><br><br>
</div>
{%endblock%}