{%extends 'blog/base.html'%}

{%block content%}
<h5>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Product</a></li>
      <li class="breadcrumb-item active">Silica Gel Pouch</li>
    </ol>
  </h5>
    <div class="container col-md-12">
        <h2>Silica Gel Pouch / Silica Gel Sachet</h2> 
        <hr style="border-top: 3px solid #262262;" align="left" width="38%"> <br>
        <p>
            We are also Manufacturer of White Silica Gel Pouch & Blue Silica Gel Pouch. Silica Gel Pouch are made with the help of Non-Woven Cloth or Paper. Silica Gel is packed with the help of Packing M/c. in different type of cloth or paper. 
            Silica Gel Pouch are also know as Silica Gel Bag, Silica Gel Sachet or Desiccant Pouch, Desiccant Sachets, Desiccants Bag, Desiccants Packets, Silica Gel Packets, White Silica Gel Pouch, White Silica Gel Bag, White Silica Gel Sachet, Blue Silica Gel Pouch, Blue Silica Gel Bag, Blue Silica Gel Sachets.
        </p> <br>
        <h4>Type:</h4>
        <p>
            White Silica Gel Bags (Non-Indicating Type) 2. Blue Silica Gel Bags (Indicating Type)
        </p> <br>
        <h4>Weight :</h4>
        <p>
            Pouch are available in size 0.5-1-2-3-5-10-20-25-50-100-200-250-500gm & 1kg .
        </p> <br>
        <h4>Packing Materials :</h4>
        <p>
            <li>Composite Paper</li>
            <li>Non-Woven Paper </li>
            <li>Dotted Cloth </li>
            <li>Cotton Paper </li>
            <li>Cloth and Tyvek Paper</li>
        </p> <br>
        <h4>Printing :</h4>
        <p>
            The packages bear printings in English. 
            It can be designed according to the customers requirements too.
            External packaging : 
            <li>Plastic Bag</li>
            <li>Plastic Drum</li>
            <li>Corrugated Drum</li>
            <li>Steel Drum</li>
        </p> <br>
        <h4>Applications of Silica Gel Pouch :</h4>
        <p>
            We supply various packaging sizes of Adsorbent Silica Gel suited to various applications including:
            <br>
            <table class="table">
                <tbody>
                    <tr>
                        <td>1. Medicnes</td>
                        <td>2. Chemicals</td>
                        <td>3. Surgical Instruments</td>
                    </tr>
                    <tr>
                        <td>4. Electrical Instruments</td>
                        <td>5. Automobile Insdustry</td>
                        <td>6. Storage of Doucuments</td>
                    </tr>
                    <tr>
                        <td>7. Pharmaceutical</td>
                        <td>8. Electronics Instruments</td>
                        <td>9. Garments</td>
                    </tr>
                    <tr>
                        <td>10. Leather</td>
                        <td>11. Food Products</td>
                        <td>12. Containers</td>
                    </tr>
                    <tr>
                        <td>13. Tool boxes</td>
                        <td>14. Storage containers</td>
                        <td>15. Safes and vaults</td>
                    </tr>
                </tbody>
            </table>
        </p> <br>
    </div>
{%endblock%}
		
		
		
		