{%extends 'blog/base.html'%}

{%block content%}
<h5>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Product</a></li>
      <li class="breadcrumb-item active">Silica Gel Bag</li>
    </ol>
  </h5>
    <div class="container col-md-12">
        <h2>Silica Gel Bag</h2> 
        <hr style="border-top: 3px solid #262262;" align="left" width="15%"> <br>
        <p>
            We are also Manufacturer of White Silica Gel Bag & Blue Silica Gel Bag. Silica Gel Bags are made with the help of Non-Woven Cloth or Cotton Cloth & Silica Gel. 
            Silica Gel Bags are also known as Container Desiccant, Desiccant Bag, Container Desiccant Bag, Silica Gel Desiccants Bag, Silica Gel Pouch, Silica Gel Packets. 
            Silica Gel Bag manufactured by us are 100 % DMF Free.
        </p> <br>
        <h4>Types of Silica Gel Desiccant Bag:</h4>
        <p>
            <li>White Silica Gel Bags (Non-Indicating Type Silica Gel Bag)</li> 
            <li>Blue Silica Gel Bags (Indicating Type Silica Gel Bag)</li>
        </p> <br>
        <h4>Desiccant Silica Gel Bags are available in Sizes :</h4>
        <p>
            <li>500-gm Silica Gel Bag</li>
            <li>1-kg Silica Gel Bag</li>
            <li>1.5-kg Silica Gel Bag</li>
            <li>2-kg Silica Gel Bag</li>
        </p> <br>
        <h4>Silica Gel Bags Available with Us in different Hanging Option :</h4>
        <p>
            <li>Hook Type</li>
            <li>Hanger Type</li>
            <li>Bag Type</li>
            <li>Plane Bag</li>
        </p> <br>
        <h4>Packing Materials Used in Silica Gel Bag Mfg.:</h4>
        <p>Non-Woven Cloth, Cotton Cloth</p><br>

        <h4>Application of Silica Gel Bag:</h4>
        <p>
            Silica Gel Bags are used in Export Container to prevent the product & pallets from moisture & fungus during shipment.
        </p> <br>
    </div>
{%endblock%}