{%extends 'blog/base.html'%}
{%load static%}


{%block content%}
<h5>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Product</a></li>
      <li class="breadcrumb-item active">White Silica Gel</li>
    </ol>
  </h5>
    <div class='container row col-md-12'>
        <div class='col-md-9'>
            <h2>Silica Gel White (Non Indicating Type Silica Gel)</h2>
            <hr style="border-top: 3px solid #262262;" align="left" width="73%"> <br>
            <p>
                In this type all the particles of Silica Gel are not impregnated with any Kind of indicating agent. 
                When free from moisture the particles are transparent white. As they are put to use, the particles take up moisture, Silica Gel gradually turns little milk or hazy in whiteness, these Silica gel always has higher capacity for Moisture uptake than any indicator type Silica Gel. 
                These can be regenerated in dryers or inside dehumidifiers.
            </p>
        </div>
        <div class='col-md-3'>
            <img src="{%static 'blog/white/image.jpg'%}" class="img-thumbnail round-float" style="height: 200px; width: 200px;">
        </div>
    </div>

    <div class='container'>
        <h3>Technical Specification</h3>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Silica Gel White</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ASSAY(as sio2)</td>
                    <td>97-99%</td>
                </tr>
                <tr>
                    <td>PH</td>
                    <td>6-7</td>
                </tr>
                <tr>
                    <td>Bulk Density</td>
                    <td>0.600-0.700 gm/cc</td>
                </tr>
                <tr>
                    <td>Loss on Drying %</td>
                    <td> <6 </td>
                </tr>
                <tr>
                    <td>Adsorption Capacityat 100% Humidity</td>
                    <td> 30-40% </td>
                </tr>
                <tr>
                    <td>Friability</td>
                    <td> 99.5 </td>
                </tr>
                <tr>
                    <td>Chloride(as Nacl)</td>
                    <td> 0.05ppm </td>
                </tr>
                <tr>
                    <td>Sulphates(as Na2SO4)</td>
                    <td> 0.5ppm </td>
                </tr>
                <tr>
                    <td>Amonium(NH3)</td>
                    <td> NIL </td>
                </tr>
                <tr>
                    <td>Particle Size(Mesh)</td>
                    <td> 1-2,3-4,3-8,5-8,9-16,16-30 </td>
                </tr>
                <tr>
                    <td>Chemical Formula</td>
                    <td> Sio2+H2O </td>
                </tr>
            </tbody>
        </table><br><br>

        <h3>White Silica Gel Size</h3>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">SIZE IN MESH</th>
                    <th scope="col">SIZE IN MM</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1-2</td>
                    <td>9-12</td>
                </tr>
                <tr>
                    <td>3-4</td>
                    <td>6-8</td>
                </tr>
                <tr>
                    <td>3-8</td>
                    <td>4-8</td>
                </tr>
                <tr>
                    <td>5-8</td>
                    <td>4-6</td>
                </tr>
                <tr>
                    <td>9-16</td>
                    <td>2-4</td>
                </tr>
                <tr>
                    <td>16-30</td>
                    <td>1-2</td>
                </tr>
                <tr>
                    <td>30-40</td>
                    <td>0-1</td>
                </tr>
                <tr>
                    <td>Powder</td>
                    <td>Less Than Zero</td>
                </tr>
            </tbody>
        </table><br> <br>

    </div>

{%endblock%}